# Disable git tracking for JetBrains editors and Visual Studio Code
*.xml
*.iml
.vscode
.idea
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Disable git tracking for the Zed development_credentials file in the Zed config directory
development_credentials

# Disable git tracking for the .gitattributes
.gitattributes

